# add the rules to ueventd.rc
/dev/eeprom_0             0660   root       root
/dev/eeprom_3             0660   root       root
/dev/eeprom_4             0660   root       root
/dev/localdimming         0660   system     system
/dev/mtal                 0660   root       root
/dev/mtal_system          0660   system     system
/dev/mtal_media           0660   media      drmrpc
/dev/cb                   0660   root       root
/dev/cb_system            0660   system     system
/dev/cb_media             0660   media      drmrpc
/dev/cb2                  0660   root       root
/dev/cli                  0660   root       shell
/dev/log2usb              0660   root       root
/dev/feeder               0660   root       root
/dev/mtphoto              0660   system     system
/dev/fbm_vbi              0660   root       root
/dev/fbm_mpeg             0660   media      system
/dev/fbm_feeder           0640   root       root
/dev/fbm_feeder_mmp       0660   root       root
/dev/fbm_venc             0660   mediacodec camera
/dev/fbm_feeder2          0640   root       root
/dev/fbm_mpeg2            0660   media      system
/dev/fbm_pvr              0640   root       root
/dev/fbm_shm_vbif         0640   root       root
/dev/fbm_shm_thumbnail    0640   root       root
/dev/fbm_shm_ssma         0640   root       root
/dev/ttyMT3               0640   root       root
/dev/citest               0640   root       root
/dev/cimodule_media0      0640   root       root
/dev/cimodule_command0    0640   root       root