config MSTAR_SYSTEM
	tristate "System"
	select CRC32
  default y

config MSTAR_UTOPIA2K_MDEBUG
	bool "UTOPIA2K_MDEBUG"
  default n

config MSTAR_SUPPORT_MULTI_GATE
        bool "Support Multi Gate"
  default n
